.instruction-stack {
	display: grid;
	margin-bottom: 1rem;
}

.instruction-stack > .instruction {
	grid-row: 1;
	grid-column: 1;
	visibility: hidden;
	color: #555;
	margin: 0;
	font-size: 1rem;
}

.instruction-stack > .instruction.active {
	visibility: visible;
}
